
<table class=" table table-hover table-bordered mb-3">
    <thead class='table'>
        <th class='text-left p-3'> Title</th>
        <th class='clear-border p-3 text-right'>Created at</th>
        <th class='text-right p-3'>Last modification</th>
    </thead>
    <tbody class='table'>
        
        <tr>
            
            <td class='text-left clear-border p-3'> <a href="/post/{{id}}" >{{postTitle}} (by: {{author}})</a> </td>
            <td class="text-right">{{created_at}}</td>
            <td class="text-right">{{edited_at}}</td>
        </tr>
       
    </tbody>
</table>
