
<table class=" table table-hover table-bordered mb-3">
    <thead class='table-info'>
        <th class='text-left clear-border p-3'>Author: {{author}}</th>
        <th class='text-right clear-border p-3'>Created at: {{created_at}}</th>
        <th class='text-right clear-border p-3'>Last modification: {{edited_at}}</th>
    </thead>
    <tbody class='text-center'>
        <tr>
            <td colspan="3" class='p-3'>{{postTitle}}</td>
        </tr>
        <tr>
            <td colspan="3" class='p-3 text-left'>{{content}}</td>
        </tr>
    </tbody>
</table>